<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snippets.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<system.windows.forms jitDebugging="true"/>
	<userSettings>
        <Snippets.My.MySettings>
            <setting name="accompany_prompt_with_voice_feedback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selected_language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="selected_theme" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="selected_theme_background" serializeAs="String">
                <value/>
            </setting>
            <setting name="use_voice_feedback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_prompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="printer_" serializeAs="String">
                <value>False</value>
            </setting>
        </Snippets.My.MySettings>
    </userSettings>
</configuration>
